.window {
  position: fixed;
  top: 50%;
  left: 50%;
  --x: 0px;
  --y: 0px;
  transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y)));
  max-width: 600px;
  max-height: 100vh;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: var(--background);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.window.dragging {
  will-change: transform;
}

.titleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  background: var(--content-background);
  border-bottom: 1px solid var(--border);
  cursor: grab;
  user-select: none;
  touch-action: none;
}

.titleBar.dragging {
  cursor: grabbing;
}

.title {
  flex: 1;
  font-weight: var(--window-title-weight);
  font-variation-settings: 'MONO' var(--window-title-mono), 'DRKM' var(--font-drkm);
}

.close {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--foreground);
  mask-image: var(--icon);
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: var(--icon);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  image-rendering: pixelated;
}

.close:hover {
  background-color: var(--hover-color);
}

.content {
  padding: var(--padding);
  background: var(--content-background);
  overflow: auto;
}
